#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.Router {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
  color: #333;
}
.Nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.Nav li {
  margin: 0 1rem;
}
.Nav a {
  color: #fff;
  text-decoration: none;
}
.Nav a:hover {
  text-decoration: underline;
}
.Nav a:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
