* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	background-color: rgb(73, 73, 73);
	color: white;
}

.project1-counterApp{
	width: 500px;
	height: 400px;
	background-color: rgb(138, 126, 111);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button{
	width: 200px;
	height: 50px;
	margin: 10px;
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
}
