* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel {
    overflow: hidden;
}

.car {
    width: 800px;
    height: 500px;
    display: flex;
    transition: transform 0.5s ease;
}

.item1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: transform 0.5s ease;
    flex: 0 0 100%;
}

.item1:nth-child(odd) {
    background-color: rgba(255, 25, 25, 0.5);
}

.item1:nth-child(even) {
    background-color: rgba(0, 255, 0, 0.5);
}
