* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #858585;
}

ul {
    width: 500px;
    height: auto;
    margin: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    list-style-type: none;
    display: flex;

    columns: 1;
    text-align: center;

    scroll-marker-group: after;
    anchor-name: --myCarousel1;
}

ul::scroll-marker-group {
    position: absolute;
    position-anchor: --myCarousel1;
    top: calc(anchor(bottom) - 50px);
    justify-self: anchor-center;

    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #007bff;
}

li {
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: 10px;
    scroll-snap-align: start;
    display: inline-block;
    cursor: pointer;
    flex: 0 0 100%;
}

li::scroll-marker {
    content: '';
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #0056b3;
}

li::scroll-marker:target-current {
    background-color: black;
}

h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

li:nth-child(odd) {
    background-color: #75dfff;
}

li:nth-child(even) {
    background-color: #ff9d9d;
}

li:hover {
    background-color: #c0c0c0;
    transform: scale(1.05);
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

li:active {
    background-color: #ffb2b2;
    transform: scale(0.95);
    transition:
        background-color 0.1s ease,
        transform 0.1s ease;
}

li:focus {
    outline: 2px solid #007bff;
    outline-offset: 2px;
    transition: outline 0.3s ease;
}

li:focus-visible {
    outline: 2px solid #0056b3;
    outline-offset: 2px;
}

.container1 {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.scroll-bar {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    scroll-marker-group: after;
}

.scroll-bar::scroll-marker-group {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.item {
    width: 100%;
    height: 200px;
    background-color: #fff;
    margin: 10px;
    scroll-snap-align: start;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item::scroll-marker {
    content: '';
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #0056b3;
}

.item::scroll-marker:target-current {
    background-color: black;
}
