node_modules/
.DS_Store
.vscode/
*.log
*.tmp
*.bak
*.swp
*.cache
*.pid
*.orig
*.sublime-workspace
*.sublime-project
*.idea/
*.vscode-test/
*.eslintcache
coverage/
dist/
build/
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.log
*.out
*.pid
*.swp
*.swo
*.bak
*.tmp
*.orig
*.swm
*.sublime-workspace
*.sublime-project
*.idea/
*.vscode-test/
*.eslintcache
*.json
*.env